@function multiple-box-shadow($n) {
	$value: '#{random(calc(3840/2))}px #{random(3840)}px #FFF';
	@for $i from 2 through $n {
		$value: '#{$value} , #{random(calc(3840/2))}px #{random(3840)}px #FFF';
	}
	@return unquote($value);
}

$shadows-small: multiple-box-shadow(4000);
$shadows-medium: multiple-box-shadow(2000);
$shadows-big: multiple-box-shadow(800);

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: $shadows-small;
	opacity: 0.3;
	animation: animStar 100s linear infinite;
	overflow: hidden;
	position: absolute;

	&:after {
		content: ' ';
		position: absolute;
		top: 2000px;
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: $shadows-small;
	}
}

#stars2 {
	width: 2px;
	height: 2px;
	opacity: 0.6;
	background: transparent;
	box-shadow: $shadows-medium;
	animation: animStar 66s linear infinite;
	overflow: hidden;
	position: absolute;

	&:after {
		content: ' ';
		position: absolute;
		top: 2000px;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: $shadows-medium;
	}
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: $shadows-big;
	animation: animStar 33s linear infinite;
	overflow: hidden;
	position: absolute;

	&:after {
		content: ' ';
		position: absolute;
		top: 100px;
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: $shadows-big;
	}
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
