@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '_stars';

// COLORS:
// PRIMARY: hsl(var(--p) / var(--tw-bg-opacity));
// PRIMARY-FOCUS: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity))
// SECONDARY: hsl(var(--s) / var(--tw-bg-opacity));
// SECONDARY-FOCUS: hsl(var(--sf, var(--s)) / var(--tw-bg-opacity))
// ACCENT: hsl(var(--a) / var(--tw-bg-opacity));
// ACCENT-FOCUS: hsl(var(--af, var(--a)) / var(--tw-bg-opacity))
// base-100: #E4D8B4

html {
	font-family: 'Roboto', sans-serif;
}

.background-1 {
	background-color: hsl(var(--p) / var(--tw-bg-opacity));
}

.background-4 {
	background-color: hsl(var(--pf) / var(--tw-bg-opacity));
}

.background-2 {
	background-color: hsl(var(--s) / var(--tw-bg-opacity));
}

.background-5 {
	background-color: hsl(var(--sf) / var(--tw-bg-opacity));
}

.background-3 {
	background-color: hsl(var(--a) / var(--tw-bg-opacity));
}

.pixel-font {
	font-family: 'Press Start 2P', cursive;
}

.h-1000 {
	height: 1000;
	aspect-ratio: 2/3;
}

.dark-box-shadow-02 {
	box-shadow: 0.2rem 0.2rem 0px 0px hsl(var(--pc, var(--p)) / var(--tw-bg-opacity));
}

.dark-box-shadow-03 {
	box-shadow: 0.3rem 0.3rem 0px 0px hsl(var(--pc, var(--p)) / var(--tw-bg-opacity));
}

.dark-box-shadow-04 {
	box-shadow: 0.4rem 0.4rem 0px 0px hsl(var(--pc, var(--p)) / var(--tw-bg-opacity));
}

.dark-box-shadow-05 {
	box-shadow: 0.5rem 0.5rem 0px 0px hsl(var(--pc, var(--p)) / var(--tw-bg-opacity));
}

.dark-box-shadow-06 {
	box-shadow: 0.6rem 0.6rem 0px 0px rgba($color: #1b1b21, $alpha: 0.75);
}

.dark-box-shadow-07 {
	box-shadow: 0.3rem 0.3rem 0px 0px rgba($color: #1b1b21, $alpha: 0.75);
}

.login-container {
	box-shadow: 0.6rem 0.6rem 0px 0px hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
}

.down-arrow {
	position: fixed;
	top: 90%;
	right: 2%;
	width: 3%;
	transition: 0.2s ease-in-out all;
}

.left-side {
	position: relative;
	z-index: 10;
	transition: 1s ease-in-out all;

	& .mt-5per {
		margin-top: 5%;
		transition: 1s ease-in-out all;
	}

	& .mt-1per {
		margin-top: -12%;
		transition: 1s ease-in-out all;
	}

	& .mt-0per {
		margin-top: 0%;
		transition: 1s ease-in-out all;
	}
}

.left-container {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 10%;
	transition: 1s ease-in-out all;

	&-home {
		position: absolute;
		top: 0;
		left: 0;
		transition: 1s ease-in-out all;
		width: 100%;
		display: flex;
		flex-direction: column;

		& .avatar {
			width: 30%;

			& .selfie {
				width: 100%;
			}

			& img {
				object-fit: contain;
			}
		}
	}

	&-projects {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		height: fit-content;
		justify-content: center;
		transition: 1s ease-in-out all;

		//-----------------------------------------------------------
		.gameboy-container {
			position: relative;
			display: flex;
			flex-direction: column;
			aspect-ratio: 766/1241;
			margin-top: 1%;
			border: 10px solid rgb(82 82 82 / var(--tw-bg-opacity));
			border-bottom-right-radius: 20%;
			box-shadow: 0.6rem 0.6rem 0px 0px hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
			transition: 1s ease-in-out all;
			align-items: center;
			z-index: 10;

			& .screen-container {
				margin: 8%;
				width: 90%;
				height: 50%;
				border-bottom-right-radius: 20%;
				padding-top: 10%;
				padding-bottom: 10%;
				padding-right: 6%;
				padding-left: 3%;
				gap: 2%;
				display: flex;
				flex-direction: row;
				transition: 1s ease-in-out all;

				& .power-led-container {
					width: 5%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					& .power-led-off {
						height: 6%;
						aspect-ratio: 1/1;
						background-color: rgb(38 38 38 / var(--tw-bg-opacity));

						transition: 0.2s ease-in-out background-color;
					}

					& .power-led-on {
						height: 6%;
						aspect-ratio: 1/1;
						background-color: hsl(var(--pf) / var(--tw-bg-opacity));
						transition: 0.2s ease-in-out background-color;
					}
				}

				& .screen {
					width: 100%;
					padding: 5%;
					overflow: auto;
					box-shadow: inset 0 0 1rem 0px rgba($color: #000000, $alpha: 0.7);
					transition: 1s ease-in-out all;
				}

				& .screen::-webkit-scrollbar {
					width: 10px;
				}

				& .screen::-webkit-scrollbar-track {
					background-color: hsl(var(--a) / var(--tw-bg-opacity));
				}

				& .screen::-webkit-scrollbar-thumb {
					background-color: hsl(var(--af) / var(--tw-bg-opacity));
				}
			}

			& .buttons {
				& .d-pad {
					width: 25%;
					margin-left: 5%;
					transition: 1s ease-in-out all;
				}

				& .ab-buttons {
					width: 30%;
					margin-right: 5%;
					transform: rotate(-25deg);
					transition: 1s ease-in-out all;

					& .ab-button {
						width: 40%;
					}
				}
			}

			& .select-buttons {
				width: 30%;
				margin-right: 5%;
				margin-top: 6%;
				transition: 1s ease-in-out all;

				& .select-button {
					width: 40%;
					transform: rotate(-25deg);
					transition: 1s ease-in-out all;
				}
			}

			& .vents-container {
				gap: 12%;
				margin-top: 5%;
				margin-right: 15%;
				height: 10%;
				width: 20%;
				transform: rotate(-25deg);
				transition: 1s ease-in-out all;

				& .vent {
					width: 8px;
					transition: 1s ease-in-out all;
				}
			}

			& .project-description {
				box-shadow: 0.3rem 0.3rem 0px 0px rgba($color: #1b1b21, $alpha: 0.75);
				transition: 1s ease-in-out all;
				padding: 2%;
			}

			& .bottom-container {
				margin-top: 4%;
				transition: 1s ease-in-out all;

				& .tech-container {
					margin: 2%;
					transition: 1s ease-in-out all;

					&-name {
						padding: 1% 3%;
						margin-top: 5%;
						box-shadow: 0.2rem 0.2rem 0px 0px rgba($color: #1b1b21, $alpha: 1);
						transition: 1s ease-in-out all;
					}
				}

				& .link-container {
					margin: 2%;
					transition: 1s ease-in-out all;

					& button {
						margin-bottom: 3%;
					}
				}
			}
		}
	}

	&-contact {
		position: absolute;
		top: -1000vh;
		left: 0;
		transition: 1s ease-in-out top;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	&-resume {
		position: absolute;
		top: -1000vh;
		left: 0;
		transition: 1s ease-in-out top;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin-top: 10%;
	}
}

//-----------------------------------------------------------
.right-side {
	position: relative;
	transition: 1s ease-in-out all;
	height: 100%;
	z-index: 10;
	overflow: hidden;
	transition: 1s ease-in-out all;
}

.right-container {
	position: relative;
	overflow: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-items: center;
	align-items: center;
	transition: 1s ease-in-out all;

	&-projects {
		margin-top: 15%;
		position: absolute;
		top: 0;
		left: 0;
		transition: 1s ease-in-out all;

		& .projects-container {
			padding: 2%;
			gap: 5%;
			transition: 1s ease-in-out all;

			& .cartridge-container {
				width: 40%;
				min-width: 400px;
				aspect-ratio: 1/1.1;
				margin-top: 4%;
				cursor: pointer;
				transition: 1s ease-in-out all;

				& .cartridge {
					border: 6px solid rgb(82 82 82 / var(--tw-bg-opacity));
					box-shadow: 0.5rem 0.5rem 0px 0px rgba($color: #1b1b21, $alpha: 0.8);
					padding-bottom: 2%;
					transition: 0.3s ease-in-out all;

					&-lines {
						margin-top: 5%;
						height: 5%;
						transition: 1s ease-in-out all;

						& .cartridge-line {
							height: 100%;
						}
					}

					&-label {
						margin: 4%;
						padding: 2%;
						width: 90%;
						aspect-ratio: 1/1;
						gap: 5%;
						transition: 1s ease-in-out all;

						&-project-name {
							margin-top: 2%;
							padding: 2% 8%;
							font-size: 0.875rem;
							transition: 1s ease-in-out all;
						}

						&-project-description {
							// border-radius: 5%;
							border: 2px #fff;
							transition: 1s ease-in-out all;
						}
					}
				}
			}
		}
	}

	&-home {
		position: absolute;
		top: -1000vh;
		left: 0;
		transition: 1s ease-in-out top;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin-top: 10%;

		&-title {
			display: flex;
			flex-direction: column;
			padding: 3%;
			box-shadow: 0.5rem 0.5rem 0px 0px rgba($color: #1b1b21, $alpha: 0.75);

			& p {
				margin-top: 3%;
			}
		}

		&-desc {
			margin-top: 4%;
			display: flex;
			flex-direction: column;
			padding: 2%;
			box-shadow: 0.5rem 0.5rem 0px 0px rgba($color: #1b1b21, $alpha: 0.75);
			width: 75%;

			&-tech {
				display: flex;
				flex-direction: row;
				width: 100%;
				gap: 2%;
				margin-top: 3%;

				& p {
					padding: 1% 2%;
					margin: 1%;
					transition: 0.2s ease-in-out transform;
				}
			}
		}

		&-contact {
			margin-top: 4%;
			display: flex;
			flex-direction: column;
			padding: 2%;
			box-shadow: 0.5rem 0.5rem 0px 0px rgba($color: #1b1b21, $alpha: 0.75);

			& button {
				margin-top: 5%;
			}
		}
	}

	&-contact {
		position: absolute;
		top: -1000vh;
		left: 0;
		transition: 1s ease-in-out top;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.gameboy-container {
		border: 5px solid rgb(82 82 82 / var(--tw-bg-opacity));
		width: 90% !important;
	}

	.left-container-projects {
		margin-top: 0%;
	}

	.right-container-projects {
		margin-top: 10%;
	}

	.sm-top {
		top: 0 !important;
	}

	.screen::-webkit-scrollbar {
		width: 5px;
	}

	.cartridge-container {
		min-width: 300px !important;
	}
}

// Anims
.upAndDown {
	animation: upAndDown 1s ease-in-out infinite;
}

@keyframes upAndDown {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

.blinkLine {
	display: inline-block;
	opacity: 1;
	animation: blinkLine 1s linear infinite;
}

@keyframes blinkLine {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
