@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import '_stars';

// COLORS:
// PRIMARY: hsl(var(--p) / var(--tw-bg-opacity));
// PRIMARY-FOCUS: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity))
// SECONDARY: hsl(var(--s) / var(--tw-bg-opacity));
// SECONDARY-FOCUS: hsl(var(--sf, var(--s)) / var(--tw-bg-opacity))
// ACCENT: hsl(var(--a) / var(--tw-bg-opacity));
// ACCENT-FOCUS: hsl(var(--af, var(--a)) / var(--tw-bg-opacity))
// base-100: #E4D8B4

.background-1 {
	background-color: hsl(var(--p) / var(--tw-bg-opacity));
}

.background-2 {
	background-color: hsl(var(--s) / var(--tw-bg-opacity));
}

.background-3 {
	background-color: hsl(var(--a) / var(--tw-bg-opacity));
}

html {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.pixel-font {
	font-family: 'Press Start 2P', cursive;
}

.h-1000 {
	height: 1000;
	aspect-ratio: 2/3;
}

.left-side {
	// overflow: hidden;
}

.login-container {
	box-shadow: 0.6rem 0.6rem 0px 0px hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
}

//-----------------------------------------------------------
.handheld-container {
	width: 70%;
	aspect-ratio: 766/1241;
	margin-top: 1%;
	border-radius: 2%;
	border-bottom-right-radius: 20%;
	box-shadow: 0.6rem 0.6rem 0px 0px hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));

	& .screen-container {
		margin: 8%;
		width: 90%;
		height: 50%;
		border-radius: 2%;
		border-bottom-right-radius: 20%;
		padding-top: 10%;
		padding-bottom: 10%;
		padding-right: 6%;
		padding-left: 3%;
		gap: 2%;

		& .power-button-container {
			width: 5%;
			& .power-button {
				height: 6%;
				aspect-ratio: 1/1;
			}
		}

		& .screen {
			width: 100%;
		}
	}

	& .buttons {
		& .d-pad {
			width: 25%;
			margin-left: 5%;
		}

		& .ab-buttons {
			width: 30%;
			margin-right: 5%;
			transform: rotate(-25deg);

			& .ab-button {
				width: 40%;
			}
		}
	}

	& .select-buttons {
		width: 30%;
		margin-right: 5%;
		margin-top: 6%;

		& .select-button {
			width: 40%;
			transform: rotate(-25deg);
		}
	}

	& .vents-container {
		gap: 12%;
		margin-top: 5%;
		margin-right: 15%;
		height: 10%;
		width: 20%;
		transform: rotate(-25deg);

		& .vent {
			width: 8px;
		}
	}
}

//-----------------------------------------------------------
.cartridges-container {
	padding: 2%;

	& .cartridge-container {
		width: 80%;
		aspect-ratio: 1/1.1;
		margin-top: 4%;
		cursor: pointer;

		& .cartridge {
			border-radius: 5%;
			box-shadow: 0.6rem 0.6rem 0px 0px rgba($color: #6366f1, $alpha: 0.9);
			padding-bottom: 2%;

			&-lines {
				margin-top: 5%;
				height: 5%;

				& .cartridge-line {
					height: 100%;
				}
			}

			&-label {
				margin: 4%;
				padding: 2%;
				width: 90%;
				aspect-ratio: 1/1;
				border-radius: 5%;
				gap: 5%;

				&-project-name {
					margin-top: 5%;
					padding: 2% 8%;
				}

				&-project-description {
					// border-radius: 5%;
					border: 2px #fff;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.handheld-container {
		width: 90%;
	}
}
